@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.headeranduser .value {
  font-family: "Arya", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.navtop {
  font-family: "Arya", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
}

.banner .info h3 {
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 2.5rem;
}

.banner .info p {
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 1.3rem;
}

.navbottom {
  font-family: "Arya", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.btnyellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: #FFC056;
  border-radius: 12px;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
}

.btnyellow:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: #E19F30;
  border-radius: 12px;
  border-radius: 12px;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
}

.headeranduser {
  background-color: #1A3663;
  width: 100%;
  height: 150px;
}

.headeranduser .container {
  width: 1570px;
  margin-left: auto;
  margin-right: auto;
}

.headeranduser h1 {
  display: none;
}

.headeranduser .logo {
  position: absolute;
}

.headeranduser .search-container {
  width: 500px;
  height: 40px;
  margin-left: 290px;
  padding-top: 55px;
}

.headeranduser label {
  display: none;
}

.headeranduser .search {
  position: relative;
  width: 300px;
  height: 55px;
}

.headeranduser .round {
  width: 500px;
  height: 35px;
  border-radius: 15px;
  border: none;
  padding: 5px 5px 5px 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.headeranduser form {
  padding-top: 5px;
}

.headeranduser .glass {
  position: absolute;
  top: 8px;
  left: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background: url(../assets/icon/glass.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.headeranduser .user-space {
  position: absolute;
  width: 175px;
  height: 55px;
  left: 63%;
}

.headeranduser .user-space a {
  display: inline-block;
}

.headeranduser .user-space .wishlist {
  width: 55px;
  height: 55px;
  background: url(../assets/icon/wishlist.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.headeranduser .user-space .wishlist:hover {
  width: 55px;
  height: 55px;
  background: url(../assets/icon/wishlisttrue.svg);
  transition: ease-in-out 300ms;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.headeranduser .user-space .order {
  width: 55px;
  height: 55px;
  background: url(../assets/icon/order.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.headeranduser .user-space .order:hover {
  width: 55px;
  height: 55px;
  background: url(../assets/icon/ordertrue.svg);
  transition: ease-in-out 300ms;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.headeranduser .user-space .user {
  width: 55px;
  height: 55px;
  background: url(../assets/icon/user.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.headeranduser .user-space .user:hover {
  width: 55px;
  height: 55px;
  background: url(../assets/icon/usertrue.svg);
  background-repeat: no-repeat;
  transition: ease-in-out 300ms;
  background-size: 100%;
  background-position: center;
}

.headeranduser .basket {
  width: 125px;
  height: 185px;
}

.headeranduser .basket a {
  display: inline-block;
}

.headeranduser .basket .picture {
  width: 125px;
  height: 165px;
  background-image: url(../assets/icon/panier.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 78%;
}

.headeranduser .basket .value {
  position: absolute;
  top: 70px;
  left: 78.8%;
}

.navtop {
  width: 100%;
  height: 40px;
  background-color: #16315A;
  text-align: center;
}

.navtop ul li {
  display: inline;
  position: relative;
  margin-right: 65px;
  margin-bottom: 0;
}

.navtop ul {
  height: 25px;
  display: inline;
  margin-bottom: 0;
}

.navtop ul li a {
  text-decoration: none;
  color: white;
}

.navtop .arrow {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../assets/icon/arrowbottom.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  margin-left: 10px;
  top: 20px;
}

.navbottom {
  width: 100%;
  height: 40px;
  background-color: #DDD2BC;
  text-align: center;
}

.navbottom ul {
  height: 40px;
  padding-top: 5px;
}

.navbottom ul li {
  display: inline;
  margin-right: 25px;
}

.navbottom ul li a {
  text-decoration: none;
  color: black;
}

.banner {
  width: 100%;
  height: 450px;
  background: url(../assets/img/catspace.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .info {
  width: 600px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .info h3 {
  text-align: center;
  padding-top: 15%;
}

.banner .info p {
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 8%;
}

.banner .btnyellow {
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
