.headeranduser{
    background-color: $bleutheme ;   
    width: 100%;
    height: 150px;   
}

.headeranduser .container {
    width: 1570px;
    margin-left: auto;
    margin-right: auto;
}

.headeranduser h1{
    display: none;
}

.headeranduser .logo{
    position: absolute;
}

.headeranduser .search-container{
    width: 500px;
    height: 40px;
    margin-left: 230px;
    padding-top: 55px;
}

.headeranduser label{
    display: none;
}

.headeranduser .search {
    position: relative;
    width: 300px;
    height: 55px;    
}

.headeranduser .round {
    width: 500px;
    height: 35px;
    border-radius: 15px;
    border: none;    
    padding: 5px 5px 5px 40px;
    position: absolute;
    top: 0;
    left: 0;    
}

.headeranduser form{
    padding-top: 5px;
}

.headeranduser .round:hover{
    outline: 2px $orange solid;
}

.headeranduser .glass {
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 0;
    width: 20px;
    height: 20px;    
    border-radius: 10px;
    border: none;
    background: url(../assets/icon/glass.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;  
}

.headeranduser .user-space{
    position: absolute;
    width: 175px;
    height: 55px;
    left: 63%;    
}

.headeranduser .user-space a{
    display: inline-block;
}

.headeranduser .user-space .wishlist{
    width: 55px;
    height: 55px;
    background: url(../assets/icon/wishlist.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;  
}

.headeranduser .user-space .order{
    width: 55px;
    height: 55px;
    background: url(../assets/icon/order.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;  
}

.headeranduser .user-space .user{
    width: 55px;
    height: 55px;
    background: url(../assets/icon/user.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;  
}

.headeranduser .basket{
    width: 125px;
    height: 185px;
}

.headeranduser .basket a{
    display: inline-block;
}

.headeranduser .basket .picture{
    width: 125px;
    height: 165px;
    background-image: url(../assets/icon/panier.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    position: absolute;
    top: 0;
    left: 78%
}

.headeranduser .basket .value{
    position: absolute;
    top: 70px;
    left: 78.8%
}