.navtop{    
    width: 100%;
    height: 40px;
    background-color: $bleufonce;
    text-align: center;
    
}

.navtop ul li{
    display: inline;   
    position: relative;
    margin-right: 65px;    
    margin-bottom: 0;  
}

.navtop ul{
    height: 25px;
    display: inline;           
    margin-bottom: 0;  
}

.navtop ul li a{
    text-decoration: none;    
    color: white;
}

.navtop .arrow{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../assets/icon/arrowbottom.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    margin-left: 10px;
    top: 20px;
    
}

.navbottom{    
    width: 100%;
    height: 40px;
    background-color: $beige;
    text-align: center;    
}

.navbottom ul{
    height: 40px;  
    padding-top: 5px;
}

.navbottom ul li{
    display: inline;
    margin-right: 25px;  
}

.navbottom ul li a{
    text-decoration: none; 
    color: black;
}